.AddCard{
    font-size: 18px;
    line-height: 21px;
    color: #5E6C84;
    /* position: relative; */
    display: flex;
    align-items: center;
    border-style:none;
    /* background: #EBECF0; */
    /* width: 150px; */

    border-radius: 10px;
    /* margin-top: 17px; */
    margin-bottom: 8px;
    border-radius: 5px;
    /* background-color:#EBECF0; */
    background-color:transparent;
}

.AddCard:hover{
    background-color: #FFFFFF;
}

.AddCard:disabled{
    cursor:initial;
    background-color: rgb(255, 211, 220);
}

.plus{
    margin-right: 4px;
}

.Submit{
    /* border-style:dashed;
    border-color: #EBECF0; */
    background-color: #0079BF;
    color: white;
    width: 102px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}


