.container {
  border-radius: 5px;
  background: #ffffff;
}

.title {
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.arrowdown {
  width: 18px;
  height: 12.5px;
}

.DropTitle {
  position: absolute;
  width: 258px;
  min-height: 35px;
  margin-bottom: 3px;

  background: #ffffff;
  border-radius: 5px;
  border-style: none;

  padding: 12.5px 11px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.DropTitle:hover {
  background: #dedede;
}

.DropEmpty {
  display: none;
}

.DropItem {
  width: 258px;
  min-height: 35px;

  background: #ffffff;
  border-radius: 5px;
  border-style: none;

  padding: 7px 8px;
  font-size: 18px;
  line-height: 21px;
}

.DropItem:hover {
  background: #dedede;
}
/* .custom_select{
    width: 258px;

    position: relative;
    appearance: none;
}

.custom_select select{
    width: 258px;

    display: none;
    appearance: none;
} */

/* .custom_select::after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgb(255, 0, 0) transparent transparent transparent;
} */

/* .custom_select select {
    display: none;
} */

/* .select-selected {
    background-color: DodgerBlue;
    background-color: rgb(184, 40, 107);
} */
