.List{
    /* width: 282px; */
    min-width: 282px;
    min-height: 197px;
    max-height: 60vh;

    background: #EBECF0;
    border-radius: 10px;

    padding: 12px 12px 8px 12px;
    overflow-y: auto;
}

.List Ul{
    padding: 0;
}

.title{
    margin-bottom: 15px;
    
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}