/* .App {
  display: flex;
  flex-direction: column;
} */


body * {
  box-sizing: border-box;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

html{
  height: 100%;
  width: 100%;
}
body {
  /* display: flex;
  flex-direction: column; */

  height: 100%;
  width: 100%;
}

#root {
  /* display: flex;
  flex-direction: column; */
  height: 100%;
  width: 100%;
}

button{
  cursor: pointer
}

@media screen and (width <= 505px) {
  html{
    height: auto;
    /* width: 100%; */
  }
}
