.App {
  display: flex;
  flex-direction: column;
}


body * {
  box-sizing: border-box;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;

  height: auto;
  width: 100%;
}

.root {
  display: flex;
  flex-direction: column;
}

button{
  cursor: pointer
}