.awesomeMain{
    height: calc(100% - 55px*2);
    position: relative;
    
    /* min-width: 1235px; */

    background: #0079BF;
}

@media screen and (width <= 505px) {
    .awesomeMain{
        padding: 20px 35px 32px 21px;
        min-height: 100vh;
    }
}