.header{
    /* position: absolute; */
    /* width: 1235px; */
    height: 55px;

    /* padding-top: 11px; */
    padding-left: 20px;
    padding-right: 23.21px;
    
    background: #0067A3;
}

.title{
    width: 331px;
    height: 26px;
    
    /* margin-top: 11px; */
    /* margin-left: 20px; */

    padding-top: 11px;
    /* padding-left: 20px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;

    color: #FFFFFF;
}

.icon{
    height: 38.4px;
    width:  38.4px;
}