.footer{
    /* position: absolute; */
    display: flex;
    justify-content: space-around;

    align-items: center;
    /* align-self:flex-end; */
    
    /* width: 1235px; */
    height: 55px;
    /* left: 0px;
    top: 0px; */
    
    background: #0067A3;
}

.footer_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}